@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/* General Styles & Resets */

* {
    box-sizing: border-box;
}

/*Typography */

body {
    font-family: 'Lato', sans-serif;
}



section {
    padding: 2em 0;
}

/* Layout & Appearance */
.mainContainer {
    width: 80vw;
    margin: 0 auto;
}

.taskOne div>div {
    border: 1px dashed #333;
    font-size: 4rem;
}

p {
    margin-bottom: 2em;
}

.taskThree .grid div {
    padding: 2em; 
}

.taskOne .container div {
    text-align:center; 
}

img {
    max-width: 100%; 
    height: auto; 
    margin: 2em auto; 
}

/* Your Code Here! */

/* TASK ONE */
.taskOne .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}


/* TASK TWO */

.taskTwo .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

.item1 {
    background-color: rgb(257,87,20);
    grid-column: 1/4; /* spans 2 columns */
    grid-row: 1/3; /* spans 3 rows */ 
    }

.item2 {
    background-color: rgba(232,170, 20, 0.5); 
    grid-column: 2/5; /* spans 3 columns */
    grid-row: 2/4;  /*spans 2 rows */
    }
    
      
/* TASK THREE */ 

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
   "one one"
   "two three"
   ". four";          
    gap: 20px;
  }
  
  .one {
    background-color: #D1495B;
    grid-area: one;
  }
  
  .two {
    background-color: #00798C;
    grid-area: two;
  }
  
  .three {
    background-color: #EDAE49;
    grid-area: three;
  }
  
  .four {
    background-color: #30638E; 
    grid-area: four;
  }

  /* Challenges Adapted from https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Grid_skills */
